  
.page {
    font-family: 'Roboto Mono', monospace;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 1920px;
    height: auto;
}

.head {
    position: relative;
    width: 1920px;
    height: 700px;    
    background: #EEEFF1;
}

.header {
    font-family: 'Roboto';
    font-style: normal;
    padding-top: 79px;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height */    
    letter-spacing: 0.1em;
    text-transform: uppercase; 
}

.header1 {
    width: 98px;
    height: 27px;  
    font-weight: 500;
    margin-left: 399px;  
    display: inline-block;        
    /* Accent */    
    color: #34547A;  
    /* Inside auto layout */    
    flex: none;
    order: 0;
    flex-grow: 0;    
}

a {
    text-decoration: none;
}

.anotherheader {
    margin-left: 42px;
    display: inline-block;  
    font-weight: 400;
    color: #000000;
}

.header2 {
   width: 147px;
   height: 27px;   
   /* Inside auto layout */
   flex: none;
   order: 1;
   flex-grow: 0;
}

.header3 {
    width: 63px;
    height: 27px;   
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
 }

 .header4 {
    width: 81px;
    height: 27px;  
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
 }

 .header5 {
    width: 99px;
    height: 27px;  
    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
 }

.name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    position: relative;
    width: 541px;
    height: 45px;
    margin-left: 399px;
    margin-top: 151px;     
    color: #000000;
}

.lorem {
    position: relative;
    width: 540px;
    height: 67px;
    margin-left: 400px;
    margin-top: 60px;
}

.loremtext {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    display: block;
}
    




.Rectangle {
    position: relative;
    width: 225px;
    height: 65px;
    margin-left: 399px;
    margin-top: 65px;
    background: #34547A;
}

.text {    
    position: relative;
    width: 143px;
    height: 26px;
    padding-top: 19px; 
    padding-left: 41px;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.middle {
    height: 30px;
    width: 403px;
    margin-left: 758px;
    margin-top: 112px;
    position: relative;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;    
    color: #000000;
}

.middletext {
    position: relative;
    width: 540px;
    height: 67px;
    margin-left: 690px;
    margin-top: 50px;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.container {
    position: relative;
    width: 1920px;
    height: 250px;
    margin: 0px auto;
    padding-inline-start: 272px;
    top: 100px;
    margin-bottom: 100px;    
/* Accent */
    background: #34547A;
}

.projectblock {
    position: relative;
    margin-left: 140px;
    padding-top: 100px;
    box-sizing: border-box;
    float: left;
    display: inline;   

}


.sum {
    position: absolute;
    width: 36px;
    height: 19px;
    left: 60px;
    top: 102px;       
}

.sumtext {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.word {
    position: absolute;
    width: 71px;
    height: 15px;
    left: 60px; 
    top: 128px;   
   
}

.wordtext {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.videobox {
    position: absolute;
    width: 1920px;
    height: 1004px;
    margin-left: 0px;
    margin-top: 0px;
    /* Silver */
    background: #EEEFF1;
}

.How {
    /* How do I work */
    position: absolute;
    width: 403px;
    height: 30px;
    left: 758px;
    top: 100px;
    /* h2 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

.lorem1  {
    position: absolute;
    width: 540px;
    height: 67px;
    left: 690px;
    top: 180px;  
}

.loremalign {
    text-align: center;
}

.video {
    position: absolute;
    width: 1110px;
    height: 600px;
    left: 405px;
    top: 304px;    
}

.footer {
    position: absolute;
    width: 1920px;
    height: 151px;
    left: 0px;
    top: 2313px;
    background: #34547A;
}

.infoname {
    position: relative;
    width: 130px;
    height: 19px;
    left: 406px;
    top: 50px;   
}

.fontname {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;    
    color: #FFFFFF;    
}

.nametext {
    position: relative;
    width: 193px;
    height: 12px;
    left: 406px;
    top: 89px;
    }

.fontnametext {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}